.parent{
    width: 100%;
    height: 500px;
    background-color: crimson;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
     position: relative; 
     align-content: center;
     
     
    
    
}
img{
    border: 1px solid white;
    border-radius: 1px;
}
.parent>div{
    padding-top: 10px;
    margin: 5px;
}




h3{
    color: whitesmoke;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 92%;
    
    
    
}